* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
  }
  


  .testecalendario {
    display: flex;
    align-items: center;
    margin: 300px;
  }

  .react-calendar {
  
    background: #140101;
  }

  #root {
    display: flex;
    flex-direction: row;
     color: var()
  }
 
  
  @media screen and (max-width: 796px) {
    body {
        width: 100%;
        background-size: 100% 70%;
        flex-direction: row-reverse;
    }
  
    }
    
  
  
  
  
  
  
  